<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>创业励志电影</string>
		<key>answer</key>
		<string>图片1</string>
		<key>icon</key>
		<string>11</string>
		<key>options</key>
		<array>
			<string>图</string>
			<string>你</string>
			<string>安</string>
			<string>琼</string>
			<string>片</string>
			<string>1</string>
			<string>挖</string>
			<string>我</string>
			<string>欧</string>
			<string>文</string>
		</array>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>2</string>
			<string>人</string>
			<string>伙</string>
			<string>合</string>
			<string>志</string>
			<string>励</string>
			<string>国</string>
			<string>中</string>
			<string>图</string>
			<string>你</string>
			<string>安</string>
			<string></string>
			<string>琼</string>
			<string>片</string>
			<string>1</string>
			<string>挖</string>
			<string>我</string>
			<string>欧</string>
			<string>文</string>
		</array>
		<key>title</key>
		<string>创业励志电影2</string>
		<key>answer</key>
		<string>中国合伙人2</string>
		<key>icon</key>
		<string>12</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>图</string>
			<string>你</string>
			<string>安</string>
			<string>琼</string>
			<string>片</string>
			<string>1</string>
			<string>挖</string>
			<string>我</string>
			<string>欧</string>
			<string>文</string>
		</array>
		<key>title</key>
		<string>创业励志电影3</string>
		<key>answer</key>
		<string>你好呀</string>
		<key>icon</key>
		<string>13</string>
	</dict>
	<dict>
		<key>options</key>
		<array>
			<string>图</string>
			<string>你</string>
			<string>安</string>
			<string>琼</string>
			<string>片</string>
			<string>1</string>
			<string>挖</string>
			<string>我</string>
			<string>欧</string>
			<string>文</string>
		</array>
		<key>title</key>
		<string>创业励志电影4</string>
		<key>answer</key>
		<string>嘿嘿拉了</string>
		<key>icon</key>
		<string>14</string>
	</dict>
</array>
</plist>
